<!-- 
<hue-picker thumbStyle="tube" [color]="color" (onColorChange)="colorChanged($event)" style="height: 80px"></hue-picker>
<alpha-picker thumbStyle="tube" [color]="color" [alpha]="alpha" (onAlphaChange)="alphaChanged($event)" style="height: 80px"></alpha-picker> -->

<ngx-hue-alpha-picker  thumbStyle="dot" [color]="rgba" (onColorChange)="colorChanged($event)" style="height: 80px">

</ngx-hue-alpha-picker>

<ngx-rgba-picker [color]="rgba" (onColorChange)="colorChanged($event)" style="height: 80px">

</ngx-rgba-picker>